---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Us"
	description="The people behind SimpleRegs"
	pubDate={new Date("October 15 2023")}
	heroImage=`${import.meta.env.BASE_URL}/team.jpg`
>
	<p>Max Eisner - M.Sc. Informatics</p>

	<p>Anna-Maria Geist - M.Sc. Management and Technology</p>

	<p>Zhiyi Pan - M.Sc. Informatics</p>

	<p>Alejandro Solano Marin - M.Sc. Management and Technology</p>

	<p>Emirhan Erol - M.Sc. Management</p>
</Layout>
