---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Offering from "../components/Offering.astro";
import USP from "../components/USP.astro";

const base = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="w-[70%]">
			<div class="flex flex-col pb-20">
				<header
					class="justify-center text-center text-5xl leading-tight tracking-tighter"
				>
					Welcome to SimpleRegs!
				</header>
				<div
					class="justify-center text-center leading-relaxed self-center max-w-prose mt-5"
				>
					The Centralized Platform for Regulatory Progress in
					Neuperlach's Energy Community <br />
					<b><i>Simplifying Rules, Empowering You.</i></b>
				</div>
			</div>

			<div class="flex flex-col space-y-10">
				<div>
					<div class="text-3xl pb-5">
						🌟 Embrace Solar Power with Confidence! 🌟
					</div>
					<div>
						Living in Neuperlach and dreaming of harnessing the
						power of the sun from your balcony? <br />
						Photovoltaics are your sustainable answer, but does the thought
						of navigating the maze of regulations make you hesitant?
					</div>
				</div>
				<div>
					<div class="text-3xl pb-5">👉🏼 Worry no more!</div>
					<div>
						<ul class="list-disc list-inside">
							<li>
								<b>Confused by Complex Regulations?</b><br /> We've
								got you covered with straightforward guidance.
							</li>
							<li>
								<b>Baffled by Legal Jargon?</b><br /> Our platform
								translates legalese into simple English or another
								language of your choice, making it accessible especially
								for non-native German speakers.
							</li>
							<li>
								<b>Short on Time?</b><br /> Say goodbye to endless
								hours of research!
							</li>
						</ul>
					</div>
				</div>
				<div>
					<div class="space-y-8">
						<div class="text-3xl pb-5">
							🚀 SimpleRegs is here to empower your solar
							aspirations! 🚀
						</div>
						We offer:

						<div class="flex flex-row justify-center space-x-8">
							<Offering href={base + "/assistant"} emoji="🤖">
								An AI Assistant ready to tackle all your
								questions
							</Offering>
							<Offering href={base + "/blog"} emoji="📚">
								A comprehensive Regulations Knowledge Base for
								clear, up-to-date information
							</Offering>
							<Offering href={base + "/template"} emoji="📝">
								A vast database of document templates and forms
								to streamline your paperwork
							</Offering>
						</div>
					</div>
				</div>
				<div>
					<div class="text-3xl pb-5">
						✨ Why SimpleRegs stands out: Unmatched in every
						category ✨
					</div>
					<div class="pb-5">
						At SimpleRegs, we don't just keep pace with the
						competition, we pave the way. Here's why:
					</div>

					<div class="flex flex-wrap space-x-8">
						<USP emoji="🌐">
							<b>Comprehensiveness</b><br />
							Our platform speaks your language. By translating complex
							legal German into simple English or any other language
							of your choice, we ensure that everyone in Neuperlach's
							diverse community has complete understanding and access.
						</USP>
						<USP emoji="💰">
							<b>Affordability</b><br />
							Say <i>Yes</i> to solar savings. With just a one-time
							registration fee of 20€ after a free 1 day trial, our
							competitive pricing brings regulatory guidance within
							everyone's reach.
						</USP>
						<USP emoji="🎯">
							<b>Accuracy</b><br />
							Bid farewell to the uncertainties of independent research.
							Our AI-enhanced system provides the most accurate regulatory
							information, sparing you of the pitfalls of outdated
							or incomplete data.
						</USP>
						<USP emoji="🛠️">
							<b>Ease of Use</b><br />
							Navigate the regulatory maze with ease. SimpleRegs offers
							a user-friendly experience that turns the complex web
							of solar regulations into a straightforward journey.
						</USP>
						<USP emoji="🚀">
							<b>Independence</b><br />
							Command your solar decisions with confidence. SimpleRegs
							empowers you with the independence to move forward without
							the need for external counsel.
						</USP>
					</div>
				</div>
				<div>
					<div class="text-3xl pb-5">
						🚀 Don't delay your solar potential - unlock it today!<br
						/>
					</div>
					<div>
						Try our intuitive <a href={base + "/assistant"}
							>AI Assistant</a
						>, extensive <a href={base + "/blog"}
							>Regulations Knowledge Base</a
						>, and comprehensive database of <a
							href={base + "/template"}
							>Document Templates
						</a> now. Experience the future of solar regulation navigation
						with SimpleRegs!
					</div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
